[MASTER]
ignore=venv,.venv,__pycache__,build,dist

[MESSAGES CONTROL]
disable=all
enable=E

[REPORTS]
output-format=colorized
reports=no
score=no

[FORMAT]
max-line-length=100

[TYPECHECK]
ignored-modules=requests,flask

[LOGGING]
disable=logging-fstring-interpolation
