[MASTER]
ignore-paths=.*/venv/.*,.*/\.venv/.*,.*/site-packages/.*,.*/__pycache__/.*,.*/build/.*,.*/dist/.*
load-plugins=no_comments_checker
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=all
enable=E

[REPORTS]
output-format=colorized
reports=no
score=no

[FORMAT]
max-line-length=100

[TYPECHECK]
ignored-modules=requests,flask

[LOGGING]
disable=logging-fstring-interpolation
