name: Build Docker Container

on:
    pull_request:
        branches: [main]

jobs:
    build-docker-container:
        name: Build Docker Image
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build Docker Image
              run: |
                docker build -t myapp:test .
