
name: Run Tests

on:
    pull_request:
        branches: [ "main" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Wait for useless comments workflow
      run: sleep 120  # Wait 2 minutes to let useless comments run first
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"


    - name: hello world
      run: echo "Hello, world!"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi    

    - name: Test with pytest
      run: |
        pytest